
.landing-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    background: black;
    height: 100%;
    text-align: center;
}

.title-image-box {
    flex: 1 100%;
}

.title-image {
    object-fit: contain;
}

.landing-page-text {
    flex: 1 100%;
    color: #fff;
}

.landing-page-text > h1 {
    font-size: 50px;
}

.landing-page-text > p {
    font-size: 30px;
}

.landing-page-buttons {
    flex: 1 100%;
}

.landing-page-buttons > a {
    width: 250px;
}

body.warmups,
body.training,
body.master-data {
    background-color: black;
}

.unselected-techniques,
.selected-techniques {
    background-color: darkgray;
    min-height: 300px;
    max-height: 80vh;
    overflow: scroll;
    padding: 10px;
    padding-bottom: 50px;
}

body.training > footer {
    display: none;
}

body.warmups h2,
body.training h2 {
    color: white;
}

.fa-youtube {
    color: red;
}

